.NotificationContent#notification-content {

  .NotificationItemCardHeader {
    background-color: $md-primary-color;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 1rem;

  }

  .NotificationItemCardContent {
    padding: 1rem;

    p {
      font-size: 80%;
      color: $site-primary-fontcolor;
    }
  }
}