.SVGButtonMD {
  border-radius: 0.5rem;
  background-color: transparent;
  border: none;
  cursor: pointer;
  outline: none;
  transition: 0.2s ease;
  color: rgba(0, 0, 0, 0.54);

  @media screen and (min-width: $desktop-min-width) {
    &:hover {
      background-color: $md-grey-200;
    }
  }
}