.CategoryContent#category-content {
  display: grid;
  grid-template-columns: 1fr 1fr;
  height: 100%;
}

.CategoryItemCard#category-item-card {
  height: 14rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  text-align: center;
}