.CategoryContent#category-content {
  display: grid;
  grid-template-columns: 1fr 1fr;
  max-width: 48rem;
  height: 100%;

  @media screen and (min-width: 600px) {
    grid-template-columns: 1fr 1fr 1fr;
    max-width: 76rem;
  }

  @media screen and (min-width: $md-desktop-min-width) {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-row-gap: 1rem;
    max-width: 120rem;
  }
}