.DisplayImage {
  padding: 1rem;
  margin: 1rem;
  background-color: $md-grey-200;
  display: flex;
  justify-content: center;
  align-items: center;
  img {
    display: block;
    max-height: 80vh;
    max-width: 90vw;
    height: auto;
    width: auto;
  }
}