.CategorySelector {
  display: flex;
  align-items: center;
  overflow-x: scroll;
  height: $home-category-selector-height;
}

button.CategorySelectorItem i {
  height: 5rem;
  width: 5rem;
  font-size: 4rem;
}