.CategorySelector {
  display: flex;
  align-items: center;
  overflow-x: auto;
  margin-bottom: 1rem;
  min-height: $home-category-selector-height;
  justify-content: space-between;
  width: 100%;
}

.CategorySelectorItem {
  width: auto;
  height: auto;
  display: flex !important;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0.8rem;

  // color the svg path and circle
  // a bit tedious and need to do it manually
  // I guess I need to find another react svg library
  &#category-selector-item-dashboard,
  &#category-selector-item-smartphone,
  &#category-selector-item-motorcycle,
  &#category-selector-item-local_mall,
  &#category-selector-item-child_care,
  &#category-selector-item-library_books,
  &#category-selector-item-build {
    svg {
      path:last-child {
        fill: $md-primary-color !important;
      }
    }
  }

  &#category-selector-item-directions_car,
  &#category-selector-item-beach_access,
  &#category-selector-item-home,
  &#category-selector-item-card_giftcard {
    svg {
      path:first-child {
        fill: $md-primary-color !important;
      }
    }
  }
  &#category-selector-item-child_care {
    svg {
      circle {
        fill: $md-primary-color !important;
      }
    }
  }
}