@import "HomeModalContentMain";
@import "HomeModalContentDescription";

.HomeModalContent {
  position: fixed;
  height: 100vh;
  width: 100vw;
  top: 0;
  left: 0;
  @include display-grid;
  p {
    font-size: 1.6rem;
  }

  > div {
    // take everything but the modal comment input
    &:not(.ModalCommentInput) button {
      width: 100%;
      border-radius: 0;
    }
  }

  // common item
  .ModalCloseButton {
    grid-area: close-button;
    align-self: center;
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;
    width: auto;
    max-width: 5rem;
    justify-self: center;
    @media screen and (min-width: $desktop-min-width) {
      height: 80%;
    }


    button {
      display: flex !important;
      justify-content: flex-end;
      flex-direction: column;
      align-items: center;
      color: white;
      height: auto;
    }
  }

  .ModalDescriptionButton,
  .ModalLoveButton,
  .ModalCloseButton,
  .ModalBackButton {
    transition: 0.2s ease;
    @media screen and (min-width: $desktop-min-width) {
      &:hover {
        background-color: $md-grey-600;
        transition: 0.2s ease-out;
      }
    }
  }


}