.HomeModal {
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba($modal-home-bg-color, 0.8);
  height: 100%;
  width: 100%;

  color: $modal-home-fontcolor;
  p, i {
    color: $modal-home-fontcolor;
  }
}

.HomeModalImageContainer {
  min-height: 100vh;
  height: 100%;
  width: 100%;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.HomeModalImageItem {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  img {
    width: 100vw;
    max-width: 102.4rem;
    max-height: 80rem;
    height: auto;
    display: block;
  }
}