.HomeContent {
  // !important to override masonry inline style
  height: calc(100% - #{$home-header-total-height}) !important;
  min-height: 64vh;

  @media screen and (min-width: $tablet-min-width) {
    min-height: 59vh;
  }

  @media screen and (min-width: 600px) {
    display: flex;
    justify-content: center;
    min-height: 60vh;
  }
}

.HomeContentMasonry {
  @media screen and (min-width: 600px) {
    width: 60rem !important;
  }
  @media screen and (min-width: 768px) {
    width: 90rem !important;
  }

  @media screen and (min-width: $desktop-min-width) {
    width: 130rem !important;
  }
}

.HomeContentItem {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.7rem;
  min-height: 10rem;
  max-width: 30rem;

  @media screen and (min-width: $mobile-min-width) {
    width: 50%;
  }

  @media screen and (min-width: $tablet-min-width) {
    width: 33%;
  }

  @media screen and (min-width: $desktop-min-width) {
    width: 23%;
    margin: 1%;
    cursor: pointer;

    &:hover {
      background-color: $md-grey-400;
    }
  }

    // background-image: url("/../assets/images/placeholder_400_400.png");
    // background-size: cover;
  img {
    width: 100%;
    height: auto;
    display: block;
  }
}