.HomeModalImage {
  height: 100%;
  width: 100%;
}

.HomeModalImage {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  img {
    width: auto;
    height: auto;
    max-width: 80vw;
    max-height: 70vh;
    height: auto;
    display: block;
  }
}