.HomeModalContentMain {
  grid-template-columns: 1fr 1fr 1fr 2fr 1fr 1fr 1fr; // total 8fr
  grid-template-rows: 1fr 1fr 6fr 2fr 1fr 1fr 1fr 1fr 2fr; // total: 16fr on row
  grid-template-areas:
  "love-button . button-description button-description button-description . close-button"
  ". . . . . . ."
  ". . . . . . ." // empty
  ". . . . . . ." // empty
  ". . . . . . ." // empty
  "info-avatar info-avatar info-name info-name info-name . ."
  "info-avatar info-avatar info-price info-price info-price . ."
  ". . . . . . ." // empty
  "comment-input comment-input comment-input comment-input . interested-button interested-button";

  // only
  .ModalDescriptionButton {
    grid-area: button-description;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 1rem;
    text-align: center;
    height: 100%;

    > button {
      display: flex;
      justify-content: center;
      align-items: center;
      color: white;
      font-size: 1.6rem;
    }
  }

  .ModalShareButton {
    grid-area: share-button;
    display: flex;
    justify-content: center;
    max-width: 5rem;
    button {
      height: 100%;
    }
  }

  .ModalLoveButton {
    grid-area: love-button;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 5rem;
    // max-height: 5rem;
    button {
      display: flex;
      justify-content: center;
      align-items: center;
      height: auto;
      // color: white;
      i {
        font-size: 3rem;
      }
    }
  }

  .ModalInfoAvatar {
    grid-area: info-avatar;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba($color: $modal-home-item-color, $alpha: 0.85);
    margin-left: 2rem;
    border-top-left-radius: 1rem;
    border-bottom-left-radius: 1rem;
    > div {
      width: 8rem;
      height: 8rem;
    }

    img {
      height: 100%;
      width: auto;
    }
  }

  .ModalInfoName {
    grid-area: info-name;
    display: flex;
    align-items: center;
    padding-left: 1rem;
    background-color: rgba($color: $modal-home-item-color, $alpha: 0.85);
    border-top-right-radius: 1rem;
  }

  .ModalInfoPrice {
    grid-area: info-price;
    display: flex;
    align-items: center;
    padding-left: 1rem;
    background-color: rgba($color: $modal-home-item-color, $alpha: 0.85);
    border-bottom-right-radius: 1rem;
  }

  .ModalCommentInput {
    grid-area: comment-input;
    @include display-grid;
    grid-template-columns: 4fr 1fr;
    height: 80%;
    margin-left: 1rem;
    padding-left: 1.7rem;
    border-radius: 1rem;
    background-color: white;
    @media screen and (max-width: 359px) {
      padding-left: 0.5rem;
    }

    input {
      background: transparent;
      // max-width: 80%;
      border: none;
      border-bottom: 0.1rem solid black;
      height: 3rem;
      align-self: center;

    }
    // below mixin for transparent placeholder on focus input
    @include input-onfocus-placeholder-transparent;

    button {
      display: flex;
      align-items: center;
      justify-content: center;
      height: auto;
      width: 100%;
      @media screen and (max-width: 359px) {
        padding-left: 0;
      }
      i {
        font-size: 2rem;
        @media screen and (min-width: $tablet-min-width) {
          font-size: 4rem;
        }
      }
    }
  }
}
