.HomeModalImage {
  min-height: 100vh;
  height: 100%;
  width: 100%;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.HomeModalImageItem {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  img {
    width: auto;
    height: auto;
    max-width: 80vw;
    max-height: 80vh;
    height: auto;
    display: block;
  }
}