.SidebarHeader#sidebar-header {
  min-height: $sidebar-header-height;
  display: flex;
  align-items: center;
  padding-left: 1rem;
  position: relative;

  > div:first-child {
    @media screen and (min-width: $md-desktop-min-width) {
      cursor: pointer;
    }
  }
}