html, body {
  margin: 0;
  padding: 0;
  height: 100%;
}

body {
  font-size: 1.6rem;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

#root {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}